APP_NAME="BBY"
APP_ENV=production
APP_KEY=base64:U5dT1/YbIzMJmYGmWeS9V+jkt40VNNhGQX0y69dzslE=
APP_DEBUG=true
APP_URL=https://backend.app.burberry.in

LOG_CHANNEL=stack

DB_CONNECTION=mysql	
DB_HOST=berberyaur-instance-1.ccz4sdx5blpt.ap-south-1.rds.amazonaws.com
DB_PORT=3306	
DB_DATABASE=adminbbdb
DB_USERNAME=adminbbusr
DB_PASSWORD=fsdjfhdjsfh
	

CART_DB_CONNECTION=cart_mysql	
CART_DB_HOST=berberyaur-instance-1.ccz4sdx5blpt.ap-south-1.rds.amazonaws.com
CART_DB_PORT=3306
CART_DB_DATABASE=cartbbydb
CART_DB_USERNAME=cartbbusr
CART_DB_PASSWORD=ufkjhsdjkfash


PIM_DB_CONNECTION=pim_mysql	
PIM_DB_HOST=berberyaur-instance-1.ccz4sdx5blpt.ap-south-1.rds.amazonaws.com
PIM_DB_PORT=3306	
PIM_DB_DATABASE=pimbbydb
PIM_DB_USERNAME=pimbbusr
PIM_DB_PASSWORD=eurweuhreuqq

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null 
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=apikey
MAIL_PASSWORD=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
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=support@transact.mail.burberry.com
MAIL_FROM_NAME="Burberry"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"



#New Variables to differentiate live and staging

PIM_ABSOLUTE_PATH = /srv/users/serverpilot/apps/pim/public/pim/ 

NOCAPTCHA_SECRET=6Lc8D8IbAAAAAIOXzjY7FiH38IzsdoqO0-YhVLqc
NOCAPTCHA_SITEKEY=6Lc8D8IbAAAAAHnCJlcMxXkZCqI5SmzexxaFKOM3


PASSWORD_HISTORY_NUM=3 

#kartMax log
SEVERITY=1
BUGFILE_END_POINT=https://logs.kartmax.in/api/logs
BUGFILE_KEY_LIVE= USFle8qcM6YU6GkxfPLp6tyTL14UJYBzYZdumJxtCcEMUIRXKhDVmXdvIAopq7Nk
BUGFILE_KEY_DEV= HZq0tfnziRJlUqnnETEJQnnF2HKzAHwWuNlPZKzuMbIwRkQC8KHuH3LzdG9L8d1g
BUGFILE_KEY_STAGING= qfd4FIEhVnWLQ3dPCwO4L5dm9qSLBAJHVsoPu5YcXH9FlHb2HQW5uOHs7uBPYXwF
