/node_modules
/public/hot
/public/storage
/storage/*.key
storage/framework/views/
/storage/framework/
/storage/logs/
/vendor
/vendorasdfas
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/csv_images
/public/processing-csv
/public/product
public/cms_images/
public/banner/
public/category/
public/pincode-csv/
public/uclogs/
public/banner/
old-git
bootstrap/cache/config.php
database/.gitignore
storage/framework/.gitignore
composer-23-sep.json
public/categories.csv
public/csv_images1/
public/updated_category.csv
public/dbs/
